@tailwind base;
@tailwind components;
@tailwind utilities;

.remove-arrows::-webkit-inner-spin-button,
.remove-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-arrows {
  -moz-appearance: textfield;
  appearance: textfield;
}

#hamburger-menu {
  margin: 0 10px;
  width: max-content;
  height: max-content;
  cursor: pointer;

  padding: 4px;

  & > span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;

    &:not(:last-child) {
      margin-bottom: 7px;
    }

    &:last-child {
      padding: 1px 0;
    }
  }

  &,
  & > span {
    transition: all 0.3s ease-in-out;
  }

  &.active {
    transition-delay: 0.7s;
    transform: rotate(45deg);
    border: 0px;

    & > span {
      &:nth-child(1) {
        transform: translateY(9px);
        transition-delay: 0.4s;
      }

      &:nth-child(2) {
        width: 0;
      }

      &:nth-child(3) {
        transform: translateY(-9px) rotate(90deg);
        transition-delay: 0.4s;
      }
    }
  }
}

body > div#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html.dark {
  canvas {
    filter: invert(1) hue-rotate(180deg);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 30.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 80.2% 55.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 95%;
    --card: 227 11.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 227 19% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 40.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 227 19% 29%;
    --input: 227 19% 29%;
    --ring: 142.4 71.8% 29.2%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
