---
import Footer from '@include/Footer';
import Navbar from '@include/Navbar';
import '@styles/base.scss';

export interface Props {
    head: {
        title: string;
        description: string;
    };
}

const {
    head: { title, description }
} = Astro.props as Props;
---

<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>{title}</title>
        <meta name='description' content={description} />

        <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
        <link rel='icon' type='image/x-icon' href='../favicon.svg' />
    </head>
    <body
        class='bg-gray-100 text-slate-900 dark:bg-slate-900 dark:text-gray-100 flex flex-col min-h-screen'>
        <Navbar client:only='react' />
        <main class='flex-grow p-3 flex flex-col space-y-4'>
            <slot />
        </main>

        <Footer />
        <script is:inline>
            const theme = (() => {
                if (
                    typeof localStorage !== 'undefined' &&
                    localStorage.getItem('theme')
                ) {
                    return localStorage.getItem('theme');
                }
                if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    return 'dark';
                }
                return 'light';
            })();

            if (theme === 'light') {
                document.documentElement.classList.remove('dark');
            } else {
                document.documentElement.classList.add('dark');
            }
            window.localStorage.setItem('theme', theme);

            // eslint-disable-next-line eol-last, no-trailing-spaces
        </script>
    </body>
</html>
