# This workflow aims to release a new version of the project when a commit is pushed to the main branch.

name: Release on push to main branch

on:
  push:
    branches: [main]

jobs:
  release-on-push:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Release a new version
        id: release
        uses: rymndhng/release-on-push-action@master
        with:
          bump_version_scheme: "norelease"
          tag_prefix: v
          release_name: <RELEASE_TAG>
          max_commits: 25

      - name: Check output parameters
        run: echo -e "Tag name ${{ steps.release.outputs.tag_name }}\nRelease version ${{ steps.release.outputs.version }}"
    outputs:
      tag_name: ${{ steps.release.outputs.tag_name }}
      version: ${{ steps.release.outputs.version }}

  store-version:
    needs: release-on-push
    runs-on: ubuntu-latest
    steps:
      - name: Save version
        run: |
          mkdir -p ./version
          echo "${{ needs.release-on-push.outputs.version }}" > ./version/version_number
      - uses: actions/upload-artifact@v3
        with:
          name: version_number
          path: ./version
